mat-form-field {
    display: flex;
    width: 100%;
}

mat-card {
    // height: 93vh;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
