<div class="container">
  <div class="bg-body-tertiary py-3 mb-4">
    @if (!resetMode) {
      <div>
        <label>Ein neues Passwort beantragen.</label>
        <p>
          Wenn du dein Passwort zurücksetzen möchtest, dann kannst du im
          nachfolgenden Feld deine gültige Emailadresse eingeben. Anschließend bekommst du eine Email mit einem neuen Passwort,
          welches du dann ebenfalls mit Klick auf <u>"Weiter zur Passwortänderung"</u> ändern kannst.
        </p>
        <form [formGroup]="resetForm" (submit)="startReset()">
          <div class="mb-3 form-floating">
            <input
              id="inputEmail"
              matInput
              type="email"
              placeholder="E-Mail"
              formControlName="email"
              class="form-control"
              />
              <label for="inputEmail">Email</label>
            </div>
            @if (
              this.resetForm.get('email')!.invalid &&
              this.resetForm.get('email')!.touched
              ) {
              <span
                class="mb-3 text-danger"
                >Bitte geben Sie eine gültige Emailadresse ein</span
                >
            }
            <div class="d-grid gap-2">
              <button
                class="btn btn-primary"
                color="accent"
                type="submit"
                [disabled]="this.resetForm.invalid"
                >
                Hier klicken um Ihr Passwort zurückzusetzen
              </button>
              @if (!this.resetMode) {
                <button
                  class="btn btn-primary"
                  type="button"
                  (click)="changepasswordForm(true)"
                  >
                  Weiter zur Passwortänderung
                </button>
              }
              <button class="btn btn-primary" type="button" routerLink="/login">
                Zurück zum Login
              </button>
            </div>
          </form>
        </div>
      }

      @if (resetMode) {
        <div>
          <label>Passwort ändern</label>
          <p>
            Sie haben von uns ein neues Passwort erhalten. Sie können nun das
            Passwort ändern.
          </p>
          <form [formGroup]="changeForm" (submit)="changepassword()">
            <div class="mb-3 form-floating">
              <input
                id="inputEmail"
                matInput
                type="email"
                placeholder="E-Mail"
                formControlName="email"
                class="form-control"
                />
                <label for="inputEmail">Email</label>
              </div>
              @if (
                this.changeForm.get('email')!.invalid &&
                this.changeForm.get('email')!.touched
                ) {
                <span
                  class="mb-3 text-danger"
                  >Bitte geben Sie eine gültige Emailadresse ein</span
                  >
              }
              <div class="mb-3 form-floating">
                <input
                  id="temporarypassword"
                  matInput
                  type="password"
                  placeholder="Das Passwort aus der Email"
                  formControlName="temporarypassword"
                  class="form-control"
                  />
                  <label for="temporarypassword">Das Passwort aus der Email</label>
                </div>
                @if (
                  this.changeForm.get('temporarypassword')!.invalid &&
                  this.changeForm.get('temporarypassword')!.touched
                  ) {
                  <span
                    class="mb-3 text-danger"
                    >Bitte geben Sie das temporäre Passwort aus der Email ein.</span
                    >
                }
                <div class="mb-3 form-floating">
                  <input
                    id="newpassword"
                    matInput
                    type="password"
                    placeholder="Ihr neues Passwort"
                    formControlName="newpassword"
                    class="form-control"
                    />
                    <label for="newpassword">Ihr neues Passwort</label>
                  </div>
                  @if (
                    this.changeForm.get('newpassword')!.invalid &&
                    this.changeForm.get('newpassword')!.touched
                    ) {
                    <span
                      class="mb-3 text-danger"
                      >Bitte geben Sie mindestens 8 Zeichen ein.</span
                      >
                  }
                  @if (this.changeForm.get('newpassword')!.errors?.['passwordStrength'] &&
                    this.changeForm.get('newpassword')!.touched) {
                    <span
                      class="mb-3 text-danger"
                      >
                      Das Passwort muss mindestens einen Kleinbuchstaben, einen
                      Großbuchstaben, eine Zahl und ein Sonderzeichen "!&#64;#$%&*?"
                      beinhalten.</span
                      >
                    }
                    <div class="mb-3 form-floating">
                      <input
                        id="confirmpassword"
                        matInput
                        type="password"
                        placeholder="Bestätigen Sie Ihr neues Passwort"
                        formControlName="confirmpassword"
                        class="form-control"
                        />
                        <label for="confirmpassword">Bestätigen Sie Ihr neues Passwort</label>
                      </div>
                      @if (
                        this.changeForm.get('confirmpassword')!.invalid &&
                        this.changeForm.get('confirmpassword')!.touched
                        ) {
                        <span
                          class="mb-3 text-danger"
                          >Bitte wiederholen Sie ihr neues Passwort</span
                          >
                      }
                      @if (
                        this.changeForm.get('newpassword')!.value !==
                        this.changeForm.get('confirmpassword')!.value &&
                        this.changeForm.get('confirmpassword')!.touched
                        ) {
                        <span
                          class="mb-3 text-danger"
                          >Die Passwörter stimmen nicht überein</span
                          >
                        }
                        <div class="d-grid gap-2 mt-3">
                          <button
                            class="btn btn-primary"
                            color="accent"
                            type="submit"
                            [disabled]="this.changeForm.invalid"
                            >
                            Hier klicken um Ihr neues Passwort zu speichern
                          </button>
                          @if (this.resetMode) {
                            <button
                              class="btn btn-primary"
                              type="button"
                              (click)="changepasswordForm(false)"
                              >
                              Zurück zur Beantragung eines neuen Passwortes
                            </button>
                          }
                          <button class="btn btn-primary" type="button" routerLink="/login">
                            Zurück zum Login
                          </button>
                        </div>
                      </form>
                    </div>
                  }
                </div>
              </div>
