<div class="container">
  <div class="bg-body-tertiary">
    <mat-card class="mt-3 mb-3">
        <mat-card-header>
            <mat-card-title>Preistabelle für Waste of the Day</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Waste of the Day ist ein besonderes Feature, mit dem dein Inserat einen Tag lang auf der Startseite von Waste-Connect.de erscheint. So wird es von vielen Nutzern gesehen und du erhöhst die Chance, es schnell zu verkaufen.</p>
            <p>Die Preise für Waste of the Day sind wie folgt:</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Anzahl der Tage</th>
                        <th>Preis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1. Tag</td>
                        <td>50,00 €</td>
                    </tr>
                    <tr>
                        <td>2. Tage</td>
                        <td>90,00 €</td>
                    </tr>
                    <tr>
                        <td>3. Tage</td>
                        <td>130,00 €</td>
                    </tr>
                    <tr>
                        <td>4. Tage</td>
                        <td>170,00 €</td>
                    </tr>
                    <tr>
                        <td>5. Tage</td>
                        <td>150,00 €</td>
                    </tr>
                </tbody>
            </table>
            <p>Die Preise gelten pro Tag und pro Inserat. Du kannst dein Inserat für bis zu 5 Tage buchen. Wähle einfach die gewünschten Tage aus und bestätige deine Auswahl.</p>
            <p>Preise sind exkl. Mehrwertsteuer.</p>
        </mat-card-content>

        <mat-card-footer class="d-flex justify-content-end mb-3 me-3">
            <button class="btn btn-primary" (click)="close()">Schließen</button>
        </mat-card-footer>
    </mat-card>
  </div>
</div>
