<div class="container">
    <div class="bg-body-tertiary py-3 mb-4">
        <h1>Informationen nach Art. 13, 14 und 21 EU Datenschutz-Grundverordnung - DSGVO.</h1>

        <h2>Präambel</h2>

        <p>Hiermit informieren wir Sie über die Verarbeitung Ihrer personenbezogenen Daten durch uns und die Ihnen nach den
        datenschutzrechtlichen Regelungen zustehenden Ansprüche und Rechte. Welche Daten im Einzelnen verarbeitet und in
        welcher Weise genutzt werden, richtet sich maßgeblich nach den jeweils von Ihnen beantragten bzw. mit Ihnen
        vereinbarten Dienstleistungen.</p>

        <h2>1. Wer ist für die Datenverarbeitung verantwortlich und an wen kann ich mich wenden?</h2>
        <p>Verantwortlicher ist:
            Thomas Fritsche & Patrick Frantzen – waste-connect.de
            Ringstraße 23
            21357 Bardowick
            info&#64;waste-connect.de</p>

        <h2>2. Welche Quellen und Daten nutzen wir?</h2>

        <p>Wir verarbeiten personenbezogene Daten, die wir im Rahmen unserer Geschäftsbeziehung von Ihnen erhalten. Zudem
        verarbeiten wir, soweit für die Erbringung unserer Dienstleistung erforderlich , personenbezogene Daten, die wir
        von anderen Stellen (z.B. den Einrichtungen in denen wir fotografieren, wie Standesamt, Location etc.)
        zulässigerweise (z.B. zur Ausführung von Aufträgen, zur Erfüllung von Verträgen oder aufgrund einer von Ihnen
        erteilten Einwilligung) erhalten haben. Zum anderen verarbeiten wir personenbezogene Daten, die wir aus
        öffentlich zugänglichen Quellen (z.B. Schuldnerverzeichnisse, Presse, Medien) zulässigerweise gewonnen haben und
        verarbeiten dürfen. Relevante personenbezogene Daten sind Personalien und Kontaktdaten (Name, Adresse,
        Telefonnummer und E-Mail-Adresse). Darüber hinaus können dies auch Auftragsdaten oder Daten aus der Erfüllung
        unserer vertraglichen Verpflichtungen, wie Werbe- und Vertriebsdaten, Dokumentationsdaten, Daten über Ihre
        Nutzung von unseren angebotenen Telemedien sowie andere mit den genannten Kategorien vergleichbare Daten sein.</p>

        <h2>3. Wofür verarbeiten wir Ihre Daten (Zweck der Verarbeitung) und auf welcher Rechtsgrundlage?</h2>

        <p>Wir verarbeiten personenbezogene Daten im Einklang mit den Bestimmungen der Europäischen
        Datenschutz-Grundverordnung (DSGVO) und dem Bundesdatenschutzgesetz (BDSG).</p>

        <p>3.1. Zur Erfüllung von vertraglichen Pflichten (Art. 6 Abs. 1 lit. b DSGVO)
        Die Verarbeitung personenbezogener Daten erfolgt zur Erbringung der Dienstleistung als Fotograf und dem damit
        verbundenen Ausliefern von gemachten Bildern sowie insbesondere auch zur Durchführung unserer Verträge oder
        vorvertraglichen Maßnahmen mit Ihnen und der Ausführung Ihrer Aufträge. Die Zwecke der Datenverarbeitung richten
        sich in erster Linie aus dem im Vorfeld enstandenen Vertrag, den Sie mit uns durch Buchung unserer
        Dienstleistung eingehen und können unter anderem Erinnerung zu wichtigen Events umfassen. Die weiteren
        Einzelheiten zum Zweck der Datenverarbeitung können Sie den jeweiligen Geschäftsbedingungen entnehmen.</p>

        <p>3.2. Im Rahmen der Interessenabwägung (Art. 6 Abs. 1 lit. f DSGVO)
        Soweit erforderlich, verarbeiten wir Ihre Daten über die eigentliche Erfüllung des Vertrages hinaus zur Wahrung
        berechtigter Interessen von uns oder Dritten. Für: - Werbung oder Markt- und Meinungsforschung, soweit Sie der
        Nutzung Ihrer Daten nicht widersprochen haben; Geltendmachung rechtlicher Ansprüche und Verteidigung bei
        rechtlichen Streitigkeiten; Gewährleistung der IT-Sicherheit; Verhinderung und Aufklärung von Straftaten;
        Maßnahmen zur Geschäftssteuerung und Weiterentwicklung von Dienstleistungen und Produkten.
        Ebenfalls sammeln wir im Zuge unserer Geschäftsprozesse personenbezogene Daten im Falle, dass Sie uns eine
        Anfrage über unserer Kontaktformular senden. Diese Daten benötigen wir, um Ihre Anfrage zu bearbeiten. Sobald
        die Anfrage bearbeitet wurde löschen wir Ihre Daten.
        Sollten wir auf Veranstaltungen tätig sein, bei denen unsere fotografischen Dienstleistungen zur Bildaufnahme in
        Anspruch genommen wurden, verarbeiten wir die dort gewonnenen personenbezogenen Daten aufgrund des berechtigten
        Interesses, den uns erteilten Auftrag auszuführen und diese zum Erwerb anzubieten. Sollte dies der Fall sein, so
        haben wir während der Veranstaltung auf die Fotografie der anwesenden Personen hingewiesen, ebenso wie auf ein
        Widerspruchsrecht. Bitte beachten Sie, dass ein Widerspruch erst in der Zukunft wirkt. Alle bis dahin
        vorgenommenen Verarbeitungen bleiben davon unberührt.</p>

        <p>3.3. Aufgrund Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO)
        Soweit Sie uns eine Einwilligung zur Verarbeitung von personenbezogenen Daten für bestimmte Zwecke (z. B.
        Veröffentlichung oder Nutzung von Bildern) erteilt haben, ist die Rechtmäßigkeit dieser Verarbeitung auf Basis
        Ihrer Einwilligung gegeben. Eine erteilte Einwilligung kann jederzeit mit Wirkung für die Zukunft widerrufen
        werden. Bitte beachten Sie, dass der Widerruf erst für die Zukunft wirkt. Verarbeitungen, die vor dem Widerruf
        erfolgt sind, sind davon nicht betroffen.</p>

        <p>3.4. Aufgrund gesetzlicher Vorgaben (Art. 6 Abs. 1 lit. c DSGVO) oder im öffentlichen Interesse (Art. 6 Abs. 1
        lit. e DSGVO)
        Ebenfalls verarbeiten wir personenbezogene Daten auf Grundlage von gesetzlichen Vorgaben. So speichern wir z.B.
        Rechnungsdaten (Name, Anschrift) auf Grundlage der bestehenden Rechtsvorschriften, wie z.B. die
        Aufbewahrungspflichten, die sich aus dem Handelsgesetzbuch (HGB) und der Abgabenordnung (AO) ergeben.</p>

        <h2>4. Wer bekommt meine Daten?</h2>

        <p>Im Zuge der Nutzung der Online-Galerie erhalten diejenigen Stellen Ihre Daten, die diese zur Erfüllung unserer
        vertraglichen und gesetzlichen Pflichten brauchen. Auch von uns eingesetzte Auftragsverarbeiter (Art. 28 DSGVO)
        können zu diesen genannten Zwecken Daten erhalten. Dies sind Unternehmen in den Kategorien IT-Dienstleistungen.
        Eine Datenweitergabe an Empfänger außerhalb Fanny Hannah Wittig Augenblick Fotografie erfolgt nur, wenn
        gesetzliche Bestimmungen dies gebieten, Sie eingewilligt haben oder wir zur Erteilung einer Auskunft befugt
        sind. Unter diesen Voraussetzungen können Empfänger personenbezogener Daten z. B. sein: - öffentliche Stellen
        und Institutionen (z. B. Aufsichtsbehörden) bei Vorliegen einer gesetzlichen oder behördlichen Verpflichtung.
        Weitere Datenempfänger können diejenigen Stellen sein, für die Sie uns Ihre Einwilligung zur Datenübermittlung
        erteilt haben oder Einwilligung befreit haben.</p>

        <h2>5. Wie lange werden meine Daten gespeichert?</h2>

        <p>Soweit erforderlich, verarbeiten und speichern wir Ihre personenbezogenen Daten soweit es erforderlich ist, um
        den Pflichten aus unseren Verträgen nachzukommen. Darüber hinaus unterliegen wir verschiedenen Aufbewahrungs-
        und Dokumentationspflichten, die sich unter anderem aus dem Handelsgesetzbuch (HGB) und der Abgabenordnung (AO)
        ergeben. Die dort vorgegebenen Fristen zur Aufbewahrung bzw. Dokumentation betragen zwei bis zehn Jahre.
        Schließlich beurteilt sich die Speicherdauer auch nach den gesetzlichen Verjährungsfristen, die zum Beispiel
        nach den ßß 195 ff. des Bürgerlichen Gesetzbuches (BGB) in der Regel 3 Jahre, in gewissen Fällen aber auch bis
        zu dreißig Jahre betragen können.</p>

        <h2>6. Werden Daten in ein Drittland oder an eine internationale Organisation übermittelt?</h2>

        <p>Eine Datenübermittlung in Drittstaaten (Staaten außerhalb des Europäischen Wirtschaftsraums ,EWR) findet nur
        statt, soweit dies zur Ausführung der mit Ihnen geschlossenen Verträge erforderlich oder gesetzlich
        vorgeschrieben ist oder Sie uns Ihre Einwilligung erteilt haben. Über Einzelheiten werden wir Sie, sofern
        gesetzlich vorgegeben, gesondert informieren.</p>

        <h2>7. Welche Datenschutzrechte haben Sie?</h2>

        <p>Jede betroffene Person hat das Recht auf Auskunft nach Art. 15 DSGVO, das Recht auf Berichtigung nach Art. 16
        DSGVO, das Recht auf Löschung nach Art. 17 DSGVO, das Recht auf Einschränkung der Verarbeitung nach Art. 18
        DSGVO sowie das Recht auf Datenübertragbarkeit aus Art. 20 DSGVO. Beim Auskunftsrecht und beim Löschungsrecht
        gelten die Einschränkungen nach ßß 34 und 35 BDSG. Darüber hinaus besteht ein Beschwerderecht bei einer
        Datenschutzaufsichtsbehörde (Art. 77 DSGVO).</p>

        <h2>8. Besteht für mich eine Pflicht zur Bereitstellung von Daten?</h2>

        <p>Im Rahmen unserer Geschäftsbeziehung müssen Sie nur diejenigen personenbezogenen Daten bereitstellen, die für
        die Begründung, Durchführung und Beendigung einer Geschäftsbeziehung erforderlich sind oder zu deren Erhebung
        wir gesetzlich verpflichtet sind. Ohne diese Daten werden wir in der Regel den Abschluss des Vertrages oder die
        Ausführung des Auftrages ablehnen müssen oder einen bestehenden Vertrag nicht mehr durchführen können und ggf.
        beenden müssen. Weiterhin ist es uns zur Erbringung kostenpflichtiger Leistungen notwendig, zusätzliche Daten zu
        erfragen, wie die von Ihnen gewünschte Zahlungsart zu verarbeiten.</p>

        <h2>9. Benachrichtigung über wichtige Ereignisse</h2>

        <p>Bei der Anmeldung zum Bezug unserer Benachrichtigung per E-Mail und /oder SMS werden die von Ihnen angegebenen
        Daten ausschließlich für diesen Zweck verwendet. Hierzu protokollieren wir Ihre Einwilligung in den Erhalt der
        Benachrichtigung inklusive Ihrer IP-Adresse. Weitere Daten werden nicht erhoben. Die Daten werden ausschließlich
        für den Versand von Benachrichtigungen verwendet und werden an Dritte nur zum Zwecke der Auslieferung
        weitergegeben. Die Einwilligung zur Verarbeitung Ihrer personenbezogener Daten und ihrer Nutzung für den Versand
        von Benachrichtigungen können Sie jederzeit widerrufen. In jeder Benachrichtigung findet sich dazu ein
        entsprechender Link, darüber hinaus können Sie jederzeit Widerspruch per Mail an info&#64;waste-connect.de .
        Bitte
        beachten Sie, dass der Widerruf erst für die Zukunft wirkt. Verarbeitungen, die vor dem Widerruf erfolgt sind,
        sind davon nicht betroffen.</p>

        <h2>10. Funktionen von Drittanbietern</h2>

        <h2>10.1. Cookies</h2>

        <p>Was sind Cookies?
        "Cookies" sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der
        Webseite durch Sie ermöglichen.
        Was genau machen Cookies?
        Die durch das Cookie erzeugten Informationen über Ihre Benutzung dieser Webseite werden in der Regel an einen
        Server übertragen und dort gespeichert. Aufgrund der Aktivierung der IP-Anonymisierung auf einigen Webseiten,
        wird Ihre IP-Adresse jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten
        des Abkommens über den Europäischen Wirtschaftsraum mitunter zuvor gekürzt. Je nach Dienstleister wird eine
        solche IP-Adresse gekürzt gespeichert.
        Wozu werden die übertragenen Daten genutzt?
        Im Auftrag von waste-connect.de wird der Drittanbieter diese Informationen benutzen, um Ihre Nutzung der
        Webseite auszuwerten, um Reports über die Webseitenaktivitäten zusammenzustellen und um weitere mit der
        Webseitennutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Webseitenbetreiber zu
        erbringen.
        Wie kann man Cookies ausschalten?
        Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern;
        wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser
        Webseite vollumfänglich nutzen können. Welche Drittanbieter-Cookies werden verwendet? Wir verwenden auf unserer
        Website die Cookies folgender Drittanbieter:
        Information über Ihr Widerspruchsrecht
        nach Art. 21 DS-GVO</p>

        <h2>1. Allgemeines Widerspruchsrecht</h2>

        <p>Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die
        Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund von Art. 6 Abs. 1 lit. f der DSGVO
        (Datenverarbeitung auf der Grundlage einer Interessenabwägung) erfolgt, Widerspruch einzulegen. Legen Sie
        Widerspruch ein, werden wir Ihre personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir können
        zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten
        überwiegen oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</p>

        <h2>2. Widerspruchsrecht gegen eine Verarbeitung von Daten für Zwecke der Direktwerbung</h2>

        <p>In Einzelfällen verarbeiten wir Ihre personenbezogenen Daten, um Direktwerbung zu betreiben. Sie haben das
        Recht, jederzeit Widerspruch gegen die Verarbeitung Sie betreffender personenbezogener Daten zum Zwecke
        derartiger Werbung einzulegen. Widersprechen Sie der Verarbeitung für Zwecke der Direktwerbung, so werden wir
        Ihre personenbezogenen Daten nicht mehr für diese Zwecke verarbeiten. Der Widerspruch muss schriftlich per
        E-Mail an folgenden Ansprechpartner gerichtet sein:
        <br>
        Thomas Fritsche
        <br>
        Thomas.fritsche&#64;waste-connect.de
        <br>
        Patrick Frantzen
        <br>
        Patrick.frantzen&#64;waste-connect.de
        </p>
    </div>
</div>