<div class="container">
  <div class="row mt-3 account-height justify-content-center">
    <span>Dies sind deine 5 letzten Suchfilter:</span>
    @for(suche of accountSignalService.userLetzteSucheInserateForDisplay();
    track $index){
    <div class="card mb-3 w-rem-50">
      <div class="card-body">
        <div class="card-text">
          <div class="d-flex flex-column">
            @if(suche.abfallursprung){<span
              >Abfallursprung: {{ suche.abfallursprung }}</span
            >} 
            @if(suche.abfallschluesselnummer){
            <span
              >Abfallschlüsselnummer: {{ suche.abfallschluesselnummer }} (<i
                >{{
                  this.userInteraktionService.getAVVValue(
                    suche.abfallschluesselnummer
                  )
                }})</i
              ></span
            >} 
            @if(suche.abfallbezeichnung){<span
              >Abfallbeschreibung / Stichwort:
              {{ suche.abfallbezeichnung }}</span
            >} 
            @if(suche.standort_Bundesland){
            <span>Standort Bundesland: {{ suche.standort_Bundesland }}</span
            >}

            <button
              class="btn btn-primary mt-3"
              (click)="inseratFilterSuchen(suche)"
            >
              Noch einmal suchen
            </button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
