.bg-color {
    background-color: #CFE2FF;
}

img {
    width: 25%;
    height: 25%;
}

.card-img-top{
    width: 350px;
    height: 350px;
    object-fit:cover;
    border-radius: 50%;
}

.card-body{
    text-align: center;
}

.card {
    width: 400px;
}
    