<div>
  <h1 class="text-center">Willkommen bei waste-connect.de!</h1>
  <p class="text-center">Ihre starke Community für eine nachhaltige Zukunft!</p>

  <div
    class="bg-color py-3 mb-4 d-flex justify-content-center flex-column align-items-center"
  >
    <div class="d-flex align-items-center ms-3 me-3">
      <img
        src="../../../../assets/img/logo.jpg"
        alt="waste-connect.de Logo"
        class="me-3"
      />
      <div class="d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-center">
          Finden Sie noch heute die besten Angebote für Ihre Abfälle!
        </h2>
        <p>
          waste-connect.de ist deine innovative Online-Plattform, die es dir
          ermöglicht, als Erzeuger von Abfällen oder Recyclingmaterialien, diese
          unkompliziert anzubieten und qualifizierte Entsorgungsdienstleister zu
          finden.
        </p>
        <p>
          Unser Ziel ist es, das Abfallmanagement zu optimieren und nachhaltige
          kostenfreie Lösungen zu fördern, indem wir eine effiziente Verbindung
          zwischen Abfallerzeugern und Abfallentsorgern herstellen.
        </p>

        <div class="d-flex justify-content-center">
          <a class="btn btn-primary btn-lg" href="/signup" role="button"
            >Jetzt registrieren</a
          >
        </div>
      </div>
    </div>
  </div>

  <div
    class="py-3 mb-4 d-flex justify-content-center flex-column align-items-center"
  >
    <div class="d-flex align-items-center ms-3 me-3">
      <div class="d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-center">Deine Vorteile als Abfallanbieter:</h2>
        <p>
          <b>Effiziente Angebotsanfragen:</b> Erstelle Inserate in wenigen
          Schritten und erhalte schnelle Angebote von qualifiziertem
          Entsorgungsdienstleistern.
        </p>
        <p>
          <b>Zeit- und kosteneffizientes Management: </b> Optimiere dein
          Abfallmanagement, spare Zeit und senke deine Kosten, indem du die
          besten Angebote für die Entsorgung deiner Abfälle erhälst.
        </p>
        <p>
          <b>Umweltschutz: </b> Durch die direkte Kommunikation mit deinem
          Entsorgungspartner, kannst du CO2- Emissionen einsparen, da deine
          Abfälle gezielten in die passenden Aufbereitungsanlagen gesteuert
          werden.
        </p>
      </div>
      <img
        src="../../../../assets/img/projekt_2_rund_klein.png"
        alt="waste-connect.de Logo"
        class="ms-3"
      />
    </div>
  </div>

  <div
    class="bg-color py-3 mb-4 d-flex justify-content-center flex-column align-items-center"
  >
    <div class="d-flex align-items-center ms-3 me-3">
      <img
        src="../../../../assets/img/logo.jpg"
        alt="waste-connect.de Logo"
        class="me-3"
      />
      <div class="d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-center">Deine Vorteile als Entsorgungsunternehmen:</h2>
        <p>
          <b>Effiziente Kommunikation:</b> Tausche dich direkt mit
          Abfallanbietern aus, um alle relevanten Informationen zu klären und
          maßgeschneiderte Angebote zu erstellen.
        </p>
        <p>
          <b>Gezielte Kundenakquise:</b> Erreiche potenzielle Kunden, die aktiv
          nach Entsorgungsdienstleistungen suchen und biete deine Expertise für
          spezialisierte Abfallarten an.
        </p>
        <p>
          <b>Nachhaltige Partnerschaften aufbauen:</b> Baue langfristige
          Geschäftsbeziehungen auf, indem du deine umweltfreundlichen
          Entsorgungsdienstleistungen anbietest und gemeinsam mit deinen Kunden
          zur Kreislaufwirtschaft beiträgst.
        </p>
      </div>
    </div>
  </div>

  <div
    class="py-3 mb-4 d-flex justify-content-center flex-column align-items-center"
  >
    <div class="d-flex align-items-center ms-3 me-3">
      <div class="d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-center">Warum waste-connect.de?</h2>
        <p>
          <b>1. Einfache Abfallanzeige:</b> Mit unserem benutzerfreundlichen
          Anzeigen-Tool kannst du mühelos Abfälle jeglicher Art und Menge
          anbieten. Beschreibe die Materialien genau und erhalte passende
          Angebote von Entsorgungsdienstleistern.
        </p>
        <p>
          <b>2. Qualifizierte Abfallentsorger finden:</b> Auf "Abfallentsorger suchen" kannst
          du nach zertifizierten Partnern suchen, die auf Recycling oder die
          fachgerechte Entsorgung verschiedenster Abfallarten spezialisiert
          sind. Finde den besten Partner für deine Anforderungen.
        </p>
        <p>
          <b>3. Transparente Kommunikation:</b> Kommuniziere direkt mit
          Entsorgungsdienstleistern, kläre Details und bespreche mögliche
          Lösungen. Unsere Plattform fördert einen transparenten Austausch, um
          sicherzustellen, dass deine Abfälle in den besten Händen sind.
        </p>
      </div>
      <img
        src="../../../../assets/img/team_rund_klein.png"
        alt="waste-connect.de Logo"
        class="ms-3"
      />
    </div>
  </div>

  <div
    class="bg-color py-3 mb-4 d-flex justify-content-center flex-column align-items-center"
  >
    <div class="d-flex align-items-center ms-3 me-3">
      <div class="d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-center">Wer steckt hinter waste-connect.de?</h2>
        <p>
          Wir sind Thomas und Patrick und uns teilt nicht nur eine tiefe
          Freundschaft, sondern auch die gleiche Leidenschaft für Umweltschutz
          und nachhaltiges Wirtschaften.
        </p>
        <p>
          Gemeinsam hatten wir 2023 die Vision,eine Plattform zu schaffen, die
          Abfallentsorger und Abfallerzeuger transparent und kostenfrei
          miteinander verbindet, um eine perfekte Symbiose in der
          Abfallwirtschaft zu schaffen. Diese bietet nicht nur effiziente
          Entsorgungslösungen, sondern fördert auch den Austausch von
          Informationen und die Erweiterung Ihres Netzwerkes.
        </p>

        <p>
          Mit unserer Leidenschaft, dem Fachwissen und der Entschlossenheit
          streben wir danach, eine nachhaltige Zukunft zu gestalten und einen
          bedeutenden Beitrag zur Bewältigung unserer Umweltprobleme zu leisten.
        </p>
        <div class="row justify-content-around w-100">
          <div class="card d-flex align-items-center col-4">
            <img
              src="../../../../assets/img/Thomas2_25.jpg"
              class="card-img-top mt-3"
              alt="Thomas"
            />
            <div class="card-body">
              <h3 class="card-title">Thomas</h3>
              <p class="card-text">
                Gründer und Geschäftsführer
              </p>
            </div>
          </div>

          <div class="card d-flex align-items-center col-4">
            <img
              src="../../../../assets/img/Patrick_25.jpg"
              class="card-img-top mt-3"
              alt="Patrick"
            />
            <div class="card-body">
              <h3 class="card-title">Patrick</h3>

              <p class="card-text">
                Gründer und Full Stack Entwickler
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="py-3 mb-4 d-flex justify-content-center flex-column align-items-center"
  >
    <div class="d-flex align-items-center ms-3 me-3">
      <div class="d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-center">
          Direkt in die Welt von waste-connect.de eintauchen
        </h2>
        <button
          class="btn btn btn-primary"
          (click)="loadInserateAndToggleShow()"
        >
          Inserate ansehen
        </button>
      </div>
    </div>
  </div>
</div>
