table {
    width: 100%;
  }

  .example-viewport {
    height: 70vh;
    width: 90vw;
  }
  
  .example-item {
    height: 75px;
    border-bottom: 1px solid #000;
  }

  .break-word {
    word-wrap: break-word;
  }

  .widthAllArea {
    width: 40%;
  }
