<div class="container">
  <footer
    class="py-3 mb-4 d-flex justify-content-center flex-column align-items-center"
  >
    <div>
    <div class="flex-column d-flex flex-md-row text-center">
        
            <span><a routerLink="/">waste-connect.de</a></span>
            <span class="me-3 ms-3">|</span>
            <span>Ringstraße 23</span>
            <span class="me-3 ms-3">|</span>
            <span>21357 Bardowick</span>
            <span class="me-3 ms-3">|</span>
            <span>Telefon +49 4131 7574808</span>
            <span class="me-3 ms-3">|</span>
            <span><a href="mailto:info@waste-connect.de">info&#64;waste-connect.de</a></span>
        
    </div>
      <hr />
      <div class="d-flex justify-content-between align-items-center">
        <span class="cursor-pointer" (click)="navigateToImpressum()">Impressum</span>
        <div class="d-flex">
          <img
            src="../../../assets/icons/instagram.png"
            alt="Social Media Icon instagram"
          />
          <img
            src="../../../assets/icons/X.png"
            alt="Social Media Icon twitter-x"
          />
          <img
            src="../../../assets/icons/linkedin.png"
            alt="Social Media Icon linkedin"
          />
        </div>
        <span class="cursor-pointer" (click)="navigateToDSGVO()">Datenschutz</span>
      </div>
    </div>
  </footer>
</div>
