
<div class="container">
    <div class="bg-body-tertiary py-3 mb-4">
        <h1>Impressum</h1>
        <p>
            waste-connect.de<br>
            Ringstraße 23<br>
            21357 Bardowick
        </p>
        <p>
            Vertreten durch die Investoren Thomas Fritsche und Patrick Frantzen
        </p>
        <p>
            Kontakt<br>
            Telefon 04131/7574808<br>
            E-Mail: Info&#64;waste-connect.de<br>
            Internet: waste-connect.de
        </p>

        <p>
            Profilfotos von Thomas Fritsche und Patrick Frantzen aufgenommen und bereitgestellt durch:
        </p>
        <div class="Augenblick">
            <img class="me-3" src="../../../../assets/img/Augenblick.png">
            <p>
                Augenblick Fotografie<br>
                Inh. Fanny Hannah Wittig<br>
                E-Mail: f.h.wittig&#64;googlemail.com
            </p>
        </div>
        <div class="d-flex flex-column">
            <div><a target="_blank" href="https://icons8.com/icon/Xy10Jcu1L2Su/instagram">Instagram</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></div>
            <div><a target="_blank" href="https://icons8.com/icon/85141/linkedin">LinkedIn</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></div>
            <div><a target="_blank" href="https://icons8.com/icon/phOKFKYpe00C/twitterx">X</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></div>

            
            
            
        </div>

    </div>
</div>
